.jobPageHeader {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  background: var(--white);
  border-radius: 0 0.4rem 0.4rem 0.4rem;
  overflow: hidden;
  transform: translateY(-32px);
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 8rem;
  height: 8rem;
  padding: 1.5rem;
}

.logo img {
  width: 100%;
}

.info {
  margin-left: 2.5rem;
  color: var(--text-color);
}

.info span {
  display: block;
  color: var(--darkGrey);
  margin-top: 0.2rem;
}

.link {
  margin-right: 2.5rem;
}
