.bg {
  background: var(--filters-bg-color);
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.jobPageFooter {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.text h2 {
  margin-bottom: 0.4rem;
  font-size: 1.2rem;
}

.text span {
  color: var(--light-text-color);
}

@media (max-width: 700px) {
  .jobPageFooter a {
    width: 100%;
    text-align: center;
  }

  .text {
    display: none;
  }
}
