.jobPageHeader {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  background: var(--filters-bg-color);
  border-radius: 0 0.4rem 0.4rem 0.4rem;
  overflow: hidden;
  transform: translateY(-32px);
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 8rem;
  height: 8rem;
  padding: 1.5rem;
}

.logo img {
  width: 100%;
}

.info {
  margin-left: 2.5rem;
  color: var(--text-color);
}

.info span {
  display: block;
  color: var(--darkGrey);
  margin-top: 0.2rem;
}

.link {
  margin-right: 2.5rem;
}

@media (max-width: 700px) {
  .jobPageHeader {
    display: flex;
    flex-direction: column;
    padding: 3rem 1rem 1.5rem 1rem;
    border-radius: 0.4rem;
    overflow: initial;
    position: relative;
  }

  .logo {
    width: 3.5rem;
    height: 3.5rem;
    padding: 0.4rem;
    border-radius: 0.8rem;
    transform: translateY(-4.5rem);
    position: absolute;
  }

  .info {
    margin-left: 0;
    margin-bottom: 1rem;
  }

  .link {
    margin-right: 0;
  }
}
