@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

:root {
  --violet: #5964e0;
  --lightViolet: #939bf4;
  --veryDarkBlue: #19202d;
  --midnight: #121721;
  --white: #ffffff;
  --lightGrey: #f4f6f8;
  --gray: #9daec2;
  --darkGrey: #6e8098;

  --text-color: #19202d;
  --light-text-color: #6e8098;
  --app-bg-color: #f2f2f2;

  --filters-bg-color: #fff;
  --checkbox-bg-color: #e7e8e9;
  --placeholder-color: #8c8f96;

  --button-light-bg-color: #eeeffc;
  --button-light-bg-color-hvr: #c5c9f4;
  --button-light-color: #5964e0;
}

#app.darkMode {
  --text-color: #fff;
  --light-text-color: #9daec2;
  --app-bg-color: #121721;

  --filters-bg-color: #19202d;
  --checkbox-bg-color: #313743;

  --button-light-bg-color: #303642;
  --button-light-bg-color-hvr: #525861;
  --button-light-color: #fff;
}

#app {
  font-family: 'Kumbh Sans', sans-serif;
  color: var(--text-color);
  background: var(--app-bg-color);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
}

.container {
  max-width: 1200px;
  padding: 0 1rem;
  margin: 0 auto;
}

.jobPageContainer {
  max-width: 740px;
  padding: 0 1rem;
  margin: 0 auto;
}

.button,
.lightButton {
  font-weight: 700;
  padding: 0.8rem 1.4rem;
  border-radius: 0.3rem;
  transition: background 0.2s;
}

.button {
  background: var(--violet);
  color: var(--white);
}

.button:hover {
  background: var(--lightViolet);
}

.lightButton {
  background: var(--button-light-bg-color);
  color: var(--button-light-color);
}

.lightButton:hover {
  background: var(--button-light-bg-color-hvr);
}
